*{
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}


.header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: #242325;
    background-color: #f7f9f9;
    z-index: 2;
  
}
.logo{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.navbar{
    display: flex;
    position:relative;
    flex-direction: row;
    justify-content:space-evenly;  
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}

.navbar-item{
    display: flex;
    margin: 10px;
    color:#242325
}

.item-texto:visited{color:#242325}
.item-texto:hover{color:#21C946}

.logoImage{
    animation: rotation 15s infinite linear;
    margin: 10px;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.logoText{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.main{
    display: flex;
    background-color: #242325;
    color: #f7f9f9;
    font-family: 'Rokkitt', serif;
    overflow-x: hidden;
    height: 4000px;
   
    
}

.left{
    display: flex;
    flex-direction: column;
    z-index: 3;
    margin-top: 100px;
    width: 1500px;
}

.right{
width:30px;
}

.imagem{
    position: relative;
    border-radius: 1000px;
    z-index:4;
    right: -100px;
    top:190px;  
}

.userInviteText{
    font-size: 45px;
    color:#f7f9f9;
    padding-bottom: 50px;
    width: 800px;
    margin-left: 150px;

}

.appDescription{
    font-size: 30px;
 
    margin-left: 150px;
    width: 700px;
    align-self: center;
}

.imagemTelas{
    padding-top: 60px;
    margin-left: 100px;
}


.circles{
    position: relative;
    z-index: 1;
    height: 100vw;
}


.circle1{
    position: relative;
    right: 400px;
    top:300px;
    height: 900px;
    width: 900px;
    border-radius:50%;
    background-color: #21C946;
}

.circle2{
    position: relative;
    right: 2100px;
    top:-1200px;
    height: 650px;
    width: 650px;
    border-radius:50%;
    background-color: #21C946;
    
}

.circle3{
    position: relative;
    right: 2000px;
    top:120px;
    height: 650px;
    width: 650px;
    border-radius:50%;
    background-color: #21C946;
    
}


.anuncioPrinc{
    
    font-size: 45px;
    color:#f7f9f9;
    padding-top: 75px;
    width: 800px;
    margin-left: 150px;
}

.descAnuncio{
    font-size: 30px;
    margin-left: 220px;
    width: 700px;
    align-self: center;
    padding-top: 45px;
}

.itensLista{
    font-size: 30px;
    color:#2cf34ded;
    align-self: center;
    padding-top: 15px;
    margin-left: 300px;
}

.itemLista{
    list-style-type: disc;
}

.baixeAgora{
      
    font-size: 45px;
    color:#f7f9f9;
    padding-top: 75px;
    width: 800px;
    margin-left: 150px;
}

.descBaixeAgora{

    font-size: 30px;
    margin-left: 50px;
    width: 700px;
    align-self: center;
    padding-top: 45px;

}

.imagem1{
    position: absolute;
    border-radius: 1000px;
    z-index:4;
    right: 100px;
    top:1100px;

}

.imagemVendedor{
    position: absolute;
    border-radius: 100px;
    z-index:4;
    right: 100px;
    top:1800px;

}


.googleApple{
    position: absolute;
    border-radius: 1000px;
    z-index:4;
    right: 1100px;
    top:2400px;

}

.pqCivitasHead{
    font-size: 45px;
    color:#f7f9f9;
    padding-top: 75px;
    width: 800px;
    margin-left: 150px;
}

.pqCivitasText{
    font-size: 30px;
    margin-left: 220px;
    width: 700px;
    align-self: center;
    padding-top: 45px;

}

.linkDownload{
    color: #21c945;
}

.linkDownload:visited{color:#f7f9f9}
.linkDownload:hover{color:#26f854}

.form{
    font-family: 'Rokkitt', serif;
    font-size: 40px;
    margin-left: 150px;
    padding-top: 70px;

}

.registre-se{
    font-size: 45px;
    color:#f7f9f9;
    padding-top: 225px;
    width: 800px;
    margin-left: 150px;

}

input[type=text],input[type=date] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #f7f9f9;
    background-color:#242325;
    outline: none;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.botaoClasse{
    background-color: #21C946;
    font-family: 'Rokkitt', serif;
    font-size: 40px;
    border: none;
    color:#f7f9f9;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
  }

  input{
      color:#f7f9f9;
      font-family: 'Rokkitt', serif;
      font-size: 25px;

  }

  label{
      font-size: 38px;
  }

  .erro{
    position:absolute;
    color: rgb(255, 0, 0);
    font-size: 30px;
    margin-left: 760px;
    margin-top: 700px;
    font-weight: 600;
  }

  .invisivel{
      display: none;
  }




